apiVersion: 1

datasources:
  # Prometheus Datenquelle
  - name: Prometheus
    type: prometheus
    access: proxy
    url: >-
      http://prometheus:9090
    isDefault: true
    jsonData:
      httpMethod: POST
      manageAlerts: true

  # Loki Datenquelle
  - name: Loki
    type: loki
    access: proxy
    url: >-
      http://loki:3100
    jsonData:
      maxLines: 1000
