[Unit]
Description=Nginx Web Server Container
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker rm -f {{ nginx_docker_container_name }}

# Startet den Container mit Ihren Ports und Mounts
ExecStart=/usr/bin/docker run --rm --name {{ nginx_docker_container_name }} \
{% for port in nginx_docker_ports %}
  -p {{ port.host_port }}:{{ port.container_port }} \
{% endfor %}
{% for volume in nginx_docker_templates_volume %}
  -v {{ volume.host_path }}:{{ volume.container_path }} \
{% endfor %}
  {{ nginx_docker_image }}

ExecStop=/usr/bin/docker stop -t 10 {{ nginx_docker_container_name }}

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
